name: Build and Publish Conda Package

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: '3.11'
        channels: conda-forge,bioconda,openms

    - name: Install conda-build
      shell: bash -l {0}
      run: |
        conda install conda-build anaconda-client

    - name: Build conda package
      shell: bash -l {0}
      run: |
        conda build recipe/ --output-folder ./conda-bld

    - name: Upload to Anaconda
      if: github.event_name == 'release'
      shell: bash -l {0}
      env:
        ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
      run: |
        anaconda upload --user bigbio ./conda-bld/**/*.tar.bz2
